body{
    background-color: black;
    margin: 0px;
}
.hero-logo{
    font-size: 24px;
    color: #f9faf8;
}
.hero-link, .hero-text, .hero-link:visited{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}
.hero-header{
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;   
}
.header-container{
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
}
.header-left{
    display: flex;
    flex: 1 1 0%;

    border-style: solid;
    border-color: white;
}
.header-center{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex: 2 1 0%;

    
    border-style: solid;
    border-color: white;
}
.header-center-top{
    display: flex;
    justify-content: space-around;
    align-items: center;


    border-style: solid;
    border-color: white;
}
.logo-container{
    display: flex;
    flex: 1 1 0%;
}
.link-container{
    display: flex;
    flex: 2 1 0%;
    justify-content: space-around;
}
.header-center-bottom{
    display: flex;
    justify-content: space-between;

    border-style: solid;
    border-color: white;
}
.hero-header-container{
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    
    border-style: solid;
    border-color: white;
}
.hero-image-container{
    display: flex;
    flex: 1 1 0%;
    justify-content: center;
    width: 100%;
    background-color: gray;
    
    border-style: solid;
    border-color: white;
}
.image-plholder{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}
.header-right{
    display: flex;
    flex: 1 1 0%;

    border-style: solid;
    border-color: white;
}