body{
    background-color: black;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0px;
    margin-bottom: 0px;
}
.hero-logo{
    font-size: 24px;
    color: #f9faf8;
}
.hero-link, .hero-text, .hero-link:visited{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}
.hero-header{
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;  
    margin-bottom: -18px; 
}
.header-container{
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
}
.header-left{
    display: flex;
    flex: 1 1 0%;
}
.header-center{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex: 4 1 0%;
}
.header-center-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
.logo-container{
    display: flex;
    flex: 1 1 0%;
}
.link-container{
    display: flex;
    flex: 1 1 0%;
    justify-content: space-around;
}
.header-center-bottom{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.hero-header-container{
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    margin-right: 30px;
    align-items: baseline;
}
.hero-bottom{
    display: flex;
    justify-content: left;
}
.hero-button{
    color: #e5e7eb;
    background-color: #3882f6;
    border-style: solid;
    border-color: #e5e7eb;
    border-radius: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 700;
}
.hero-image-container{
    display: flex;
    flex: 1 1 0%;
    justify-content: center;
    width: 100%;
    background-color: gray;
    margin-left: 30px;
}
.image-plholder{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}
.header-right{
    display: flex;
    flex: 1 1 0%;
}